.wrap-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  background-color: #1a1a1a;
  padding: 20px;
}
.logo {
  max-width: 240px;
  min-width: 100px;
  width: 100%;
}
.logo-image {
  font-size: 24px;
}
.wrap-search-bar {
  max-width: 700px;
  width: 100%;
}
.wrap-right-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
