.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-space-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  margin: 30px 0px;
}
@media screen and (min-width: 1440px) {
  .wrap-body {
    width: 100%;
    padding: 20px 400px;
  }
}
@media screen and (max-width: 1440px) {
  .wrap-body {
    width: 100%;
    padding: 20px 20px;
  }
}
.wrap-item-action {
  gap: 20px;
}
.complete-box {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #cdfee1;
  color: #0c5132;
}
.wrap-action-bar {
  width: 100%;
}
.action-bar {
  display: flex;
  gap: 12px;
  box-shadow: 0px 2px 6px 0px #1a1a1a2c;
  padding: 12px;
  border-radius: 12px;
}
.incomplete-box {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #ffe600;
  color: #332e00;
}
.pagination-bar {
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
}
